{% extends 'base.html' %}
{% block content %}
  <main>
    <div class="delete-form">
      <form method="post">
        {% csrf_token %}
        {% comment %} <a href="{% url 'meal_plans_delete' meal_plan.pk %}">{{ meal_plan.name }}</a>Are you sure you want to delete "{{ meal_plan.name }}"?</a> {% endcomment %}
        {{ form.as_p }}
        <div>
          <button class="button">Delete</button>
        </div>
      </form>
    </div>
  </main>
{% endblock content %}