{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
<main class="mealplan-detail">
   {% comment %} <div>
      <a href="{% url 'meal_plans_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
    </div> {% endcomment %}
    {% if mealplan.image %}
      <img src="{{ mealplan.image }}" class="pull-right">
    {% endif %}
    <h1>{{ mealplan.name }}</h1>
    <h2>by: {{ mealplan.author | default_if_none:"Unknown" }}</h2>
    <p>
      Created on {{ mealplan.created }} |
      Updated on {{ mealplan.updated }}
    </p>
    <p>Tags: {% for tag in mealplan.tags.all %}{{ tag.word }} {% endfor %}</p>
    {{ mealplan.description | markdownify }}
    <h2>Ingredients</h2>
    <table>
      <thead>
        <tr>
          <th colspan="2">Amount</th>
          <th>Food item</th>
        </tr>
      </thead>
      <tbody>
        {% for recipe in mealplan.ingredients.all %}
          <tr>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in mealplan.steps.all %}
        <li>{{ step.directions }}</li>
      {% endfor %}
    </ol>
  </main>
{% endblock content %}